#include <string.h>
#include <stdint.h>
#include <stdio.h>

#define CAN_MESSAGE_NAME_MAX_LENGTH {{ msg_name_max_length }}

void {{ network.name }}_msgname_from_id(uint32_t msg_id, char *buffer) {
    switch (msg_id) {
{%- for message_contents in network.messages.values() %}
{%- for message_name, message_id in message_contents["id"].items() %}
        case {{ message_id }}: strcpy(buffer, "{{ message_name }}"); break;
{%- endfor %}
{%- endfor %}
        default:
            strcpy(buffer, ""); // Unknown message
    }
}
