#ifndef {{ network.name }}_IDS_H
#define {{ network.name }}_IDS_H

#ifdef __cplusplus
extern "C" {
#endif

#include <stdint.h>
#include <string.h>
#include <stdbool.h>

#ifndef CANLIB_MESSAGE_ID_TYPE
#define CANLIB_MESSAGE_ID_TYPE
typedef uint16_t canlib_message_id;
#endif // CANLIB_MESSAGE_ID_TYPE

#define {{ network.name }}_IDS_VERSION {{ network.version }}

{% for topic_name, topic_id in network.topics.items() %}
{%- set topic_messages = network.get_messages_by_topic(topic_name) %}
/* TOPIC {{ topic_name }} */
#define {{ network.name }}_topic_mask_{{ topic_name }} 0b00000011111
{%- if topic_id is not none %}
#define {{ network.name }}_topic_filter_{{ topic_name }} 0b{{ "{0:>011b}".format(topic_id) }} // dec: {{ topic_id }} hex: {{ '0x{:X}'.format(topic_id) }}
{%- endif %}
{% for message in topic_messages.values() %}
{%- for message_sub_name, message_id in message["id"].items() %}
#define {{ network.name }}_id_{{ message_sub_name }} 0b{{ "{0:>011b}".format(message_id) }} // dec: {{ message_id }} hex: {{ '0x{:X}'.format(message_id) }}
{%- endfor %}
{%- endfor %}
{% endfor %}

// ============== UTILS ============== //

int {{ network.name }}_message_name_from_id(canlib_message_id id, char *buffer);
bool {{ network.name }}_is_message_id(canlib_message_id message_id);

#define {{ network.name }}_MAX_MESSAGE_LENGTH {{ network.max_message_length() + 1 }}

#ifdef {{ network.name }}_IDS_IMPLEMENTATION

int {{ network.name }}_message_name_from_id(canlib_message_id id, char *buffer) {
    switch (id) {
{%- for message in network.messages.values() %}
{%- for message_sub_name in message["id"].keys() %}
        case {{ network.name }}_id_{{ message_sub_name }}:
            strcpy(buffer, "{{ message_sub_name }}");
            return 0;
{%- endfor %}
{%- endfor %}
        default:
            strcpy(buffer, ""); // Unknown message
    }
    return 1;
}

bool {{ network.name }}_is_message_id(canlib_message_id message_id) {
    switch (message_id) {
{%- for message_name, message_contents in network.messages.items() %}
{%- for message_id in message_contents["id"].values() %}
        case {{ message_id }}: return true; break;
{%- endfor %}
{%- endfor %}
    }
    return false;
}

#endif // {{ network.name }}_IDS_IMPLEMENTATION

#ifdef __cplusplus
}
#endif

#endif // {{ network.name }}_IDS_H
