#ifndef {{ network.name }}_UTILS_H
#define {{ network.name }}_UTILS_H

#define {{ network.name }}_MAX_MESSAGE_LENGTH {{ network.max_message_length() + 1 }}

void {{ network.name }}_message_name_from_id(uint16_t id, char *buffer) {
    switch (id) {
{%- for message in network.messages.values() %}
{%- for message_name, message_id in message["id"].items() %}
        case {{ message_id }}: strcpy(buffer, "{{ message_name }}"); break;
{%- endfor %}
{%- endfor %}
        default: strcpy(buffer, ""); // Unknown message
    }
}

#endif // {{ network.name }}_UTILS_H
